PORT=4000

MONGODB_URI=mongodb://localhost:27017/mydatabase

NODE_ENV=development

# Frontend URL
CLIENT_URL=http://localhost:3000

# JWT
JWT_ACCESS_SECRET=your_access_secret
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=your_refresh_secret
JWT_REFRESH_EXPIRES_IN=7d

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100